<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<form action="/project/add" method="post">
    <input type="text" name="name" placeholder="Please input name"> <br>
    <input type="date" name="date"> <br>
    <input type="date" name="deadline"> <br>
    <select name="member.id">
        <option th:each="user: ${allUsers}" th:text="${user.name} + ${user.surname}" th:value="${user.id}"></option>
    </select> <br>
    <input type="submit" value="Add">
</form>

</body>
</html>
