<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<form action="/register" enctype="multipart/form-data" method="post">
    <input type="text" name="name" placeholder="Please input name"> <br>
    <input type="text" name="surname" placeholder="Please input surname"> <br>
    <input type="text" name="username" placeholder="Please input email"> <br>
    <input type="password" name="password" placeholder="Please input password"> <br>
    <input type="file" name="image"> <br>
    <select name="type">
        <option value="TEAM_LEADER">TEAM LEADER</option>
        <option value="TEAM_MEMBER">TEAM MEMBER</option>
    </select> <br>
    <input type="submit" value="Register">
</form>

</body>
</html>
